<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API_Key</key>
	<string>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</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>Allow Arbitrary Loads</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
		<key>OpenAI_API_Key</key>
		<string>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</string>
	</dict>
</dict>
</plist>
